img{
    max-width: 100%;
}

#header{
    background-color: #2C3E50;
}

#jumbotron, #portfolio, #about{
    min-height: 300px;
}

#footer-top{
    background-color: #3A546D;
}

#footer-bottom{
    background-color: #2C3E50;
}

#footer-top, #footer-bottom{
    min-height: 150px;
    color: white;
}

section:nth-child(odd){
    background-color: #1ABC9C;
    color: white;
}

#portfolio h4{
    color: #2C3E50;
}

#portfolio .white_bar{
    background-color: #2C3E50;
    width: 15%;
}

#portfolio .fa-star{
    color: #2C3E50;  
}

.box{
    padding: .5rem;
    border: 1px dashed currentColor;
    text-align: center;
    background-color: pink;
}

.white_bar{
    height: 4px;
}

