.bordered{
    border: 2px dashed currentColor;
    text-align: center;
    min-height: 80px;
    background-color: pink;
}

img{
    width: 100%;
}

#header{
    background-color: #2C3E50;
    height: 100px;
}

#jumbotron, #portfolio, #about{
    min-height: 300px;
}

#footer-top{
    background-color: #3A546D;
}

#footer-bottom{
    background-color: #2C3E50;
}

#footer-top, #footer-bottom{
    min-height: 150px;
    color: white;
}

section:nth-child(odd){
    background-color: #1ABC9C;
    color: white;
}

.box{
    padding: .5rem;
    border: 1px dashed currentColor;
    text-align: center;
    background-color: pink;
}

.anchor{
   text-decoration: none; 
}

.message-box{
    padding-bottom: 5rem;
}