/***********************
        RESET
*/**********************
img{
    max-width: 100%;
}

/*********************** 
        SECTION
*/**********************

section:nth-child(odd){
    background-color: #1ABC9C;
    color: white;
}

.white_bar{
    height: 4px;
}

#portfolio, #contact_me h4{
    color: #2C3E50;
}


#portfolio, #contact_me .fa-star{
    color: #2C3E50;  
}

/***********************
        HEADER
*/**********************

#header{
    background-color: #2C3E50;
}

/***********************
        PORTFOLIO
*/**********************

#portfolio .white_bar{
    background-color: #2C3E50;
    width: 15%;
}

/***********************
        ABOUT
*/**********************

#about .white_bar{
    width: 8%;
}

._bottom_form{
    background-color: #1ABC9C;

}

/***********************
        CONTACT-ME
*/**********************

#contact_me .white_bar{
    background-color: #2C3E50;
    width: 8%;
}

/***********************
         FOOTER
*/**********************

#footer_top{
    background-color: #3A546D;
}

#footer-bottom{
    background-color: #2C3E50;
}

#footer_top, #footer-bottom{
    color: white;
}

._circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
