.bordered{
    border: 2px dashed currentColor;
    text-align: center;
    line-height: 80px;
    min-height: 80px;
}

img{
    width: 100%;
}

#header{
    background-color: #2C3E50;
    height: 100px;
}

#jumbotron, #portfolio, #about{
    min-height: 300px;
}

section:nth-child(odd){
    background-color: #1ABC9C;
}

.box{
    padding: .5rem;
    border: 1px dashed currentColor;
    text-align: center;
    background-color: pink;
}

.anchor{
   text-decoration: none; 
}

.btn{
    text-align: center;
}
